.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}
.contact-form h1 {
    color: #dd571c;
}
#contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#contact-form__form input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
}
#contact-form__form textarea {
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 15px;
}
#contact-form__form button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #dd571c;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}